@page "/eventspage"
@using WebClient.PaginationNavigation
@using WebClient.Services.MonitoringService
@using global::Shared.Dtos
@inject IMonitoringService MonitoringService

<PageTitle>Events Page</PageTitle>

<h3>События</h3>

<AuthorizeView>
    <Authorized>
        @if (_monitoringEvents is null || _monitoringEvents.Any() is false)
        {
            <p><em>Загрузка...</em></p>
        }
        else
        {
            <p>События температуры</p>
            <table class="table">
                <thead>
                    <tr>
                        <th style="word-wrap:break-word; font-size:small">Статус</th>
                        <th style="word-wrap:break-word; font-size:small">Сообщение</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tempEvent in _monitoringEvents.Select(monEv => monEv.TemperatureValue).ToList())
                    {
                        @if (tempEvent.HasValue is false)
                        {
                            continue;
                        }

                        <tr>
                            <td style="font-size:small"><span class="oi oi-warning ico" aria-hidden="true" style="color:red"></span></td>
                            <td>Ожидается критическое значение температуры! На @tempEvent.ToString(), °C!</td>
                        </tr>
                    }
                </tbody>
            </table>       
            
            <p>События влажности</p>
            <table class="table">
                <thead>
                    <tr>
                        <th style="word-wrap:break-word; font-size:small">Статус</th>
                        <th style="word-wrap:break-word; font-size:small">Сообщение</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var humEvent in _monitoringEvents.Select(monEv => monEv.HumidityValue).ToList())
                    {
                        @if (humEvent.HasValue is false)
                        {
                            continue;
                        }

                        <tr>
                            <td style="font-size:small"><span class="oi oi-warning" aria-hidden="true" style="color:red"></span></td>
                            <td>Ожидается критическое значение влажности! На @humEvent.ToString(), %!</td>
                        </tr>
                    }
                </tbody>
            </table>
            
            <br/>

            <PaginationComponent RecordsCount=@_monitoringEventsCount
                                 RecordsPerPage=@RecordsPerPage
                                 PageChanged=@OnPageChanged/>

            <br/>
        }
    </Authorized>
    <NotAuthorized>
        Вы не вошли в систему
    </NotAuthorized>
</AuthorizeView>

@code {
    private const int RecordsPerPage = 15;
    private const int StartRecordsRequestCount = 0;

    private long _monitoringEventsCount;
    private List<MonitoringsEventsDto> _monitoringEvents;

    protected override async Task OnInitializedAsync()
    {
        _monitoringEventsCount = await MonitoringService.GetEventsCountAsync();

        _monitoringEvents = await MonitoringService.GetEventsAsync(StartRecordsRequestCount, RecordsPerPage);
    }

    private async Task OnPageChanged(RecordsRequest request)
    {
        _monitoringEvents.Clear();
        
        _monitoringEvents = await MonitoringService.GetEventsAsync(request.RecordsOffset, request.RecordsCount);
    }
}
