@page "/userspage"
@using WebClient.Services.UsersService
@inject NavigationManager NavigationManager
@inject IUsersService UsersService
@attribute [Authorize(Roles = "Admin")]

<h3>Пользователи</h3>

<AuthorizeView>
    <Authorized>
        @if (_users.Count == 0)
        {
            <p>
                <em>Загрузка...</em>
            </p>
        }
        else
        {
            <table class="table">
                <thead>
                <tr>
                    <th>Имя</th>
                    <th>Роль</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var user in _users)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@nameof(user.Role)</td>
                        <td>
                            <button class="btn btn-primary" @onclick="() => ShowUser(user.Id)">
                                <i class="oi oi-pencil"></i>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <button class="btn btn-primary" @onclick="CreateUser">Создать нового пользователя</button>
        }
    </Authorized>
    <NotAuthorized>
        Вы не вошли в систему
    </NotAuthorized>
</AuthorizeView>

@code {
    private readonly List<UserDto> _users = new();

    protected override async Task OnInitializedAsync()
    {
        _users.AddRange(await UsersService.GetUsers());
    }

    void ShowUser(Guid id)
    {
        NavigationManager.NavigateTo($"/user/{id}");
    }

    void CreateUser()
    {
        NavigationManager.NavigateTo("/user");
    }

}