@page "/warningspage"
@using WebClient.PaginationNavigation
@using Services.WarningService
@inject IWarningService WarningService

<PageTitle>Warnings Page</PageTitle>

<h3>События</h3>

<AuthorizeView>
    <Authorized>
        @if (_isInitialized is false)
        {
            <strong style="text-align:center; align-self:center">
                Загрузка...
                </strong>
        }
        else if (_warningsCount == 0)
        {
            <strong style="text-align:center; font-size:large">
                Нет данных для отображения...
                </strong>
        }
        else
        {
            <p>События температуры</p>
            <table class="table">
                <thead>
                    <tr>
                        <th style="word-wrap:break-word; font-size:small">Статус</th>
                        <th style="word-wrap:break-word; font-size:small">Сообщение</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var temperatureWarning in _warnings.Select(warning => warning.Temperature).ToList())
                    {
                        @if (temperatureWarning.HasValue is false)
                        {
                            continue;
                        }

                        <tr>
                            <td style="font-size:small"><span class="oi oi-warning ico" aria-hidden="true" style="color:red"></span></td>
                            <td>Ожидается критическое значение температуры! На @temperatureWarning.ToString(), °C!</td>
                        </tr>
                    }
                </tbody>
            </table>       
            
            <p>События влажности</p>
            <table class="table">
                <thead>
                    <tr>
                        <th style="word-wrap:break-word; font-size:small">Статус</th>
                        <th style="word-wrap:break-word; font-size:small">Сообщение</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var humidityWarning in _warnings.Select(warning => warning.Humidity).ToList())
                    {
                        @if (humidityWarning.HasValue is false)
                        {
                            continue;
                        }

                        <tr>
                            <td style="font-size:small"><span class="oi oi-warning" aria-hidden="true" style="color:red"></span></td>
                            <td>Ожидается критическое значение влажности! На @humidityWarning.ToString(), %!</td>
                        </tr>
                    }
                </tbody>
            </table>
            
            <br/>

            <PaginationComponent RecordsCount=@_warningsCount
                                 RecordsPerPage=@RecordsPerPage
                                 PageChanged=@OnPageChanged/>

            <br/>
        }
    </Authorized>
    <NotAuthorized>
        Вы не вошли в систему
    </NotAuthorized>
</AuthorizeView>

@code {
    private const int RecordsPerPage = 15;
    private const int StartRecordsRequestCount = 0;
    private bool _isInitialized;

    private long _warningsCount;
    private List<WarningDto> _warnings;

    protected override async Task OnInitializedAsync()
    {
        _warningsCount = await WarningService.GetWarningsCountAsync();

        if (_warningsCount > 0)
        {
            _warnings = await WarningService.GetWarningsAsync(StartRecordsRequestCount, RecordsPerPage);
        }

        _isInitialized = true;
    }

    private async Task OnPageChanged(RecordsRequest request)
    {
        _warnings.Clear();
        
        _warnings = await WarningService.GetWarningsAsync(request.RecordsOffset, request.RecordsCount);
    }
}
