@page "/configsettings"
@using ClimateControlSystem.Shared.Common;
@using ClimateControlSystem.Client.Resources
@attribute [Authorize(Roles = "Admin")]
@inject IConfigService ConfigService

<PageTitle>Config Settings</PageTitle>

<h3>Настройки конфигурации</h3>

<EditForm Model="_config" OnSubmit="HandleSubmit">
    <div>
        <label for="uppTempWarn">Верхний тревожный предел температуры, C</label>
        <InputNumber id="uppTempWarn" @bind-Value="_config.UpperTemperatureWarningLimit" />
    </div>
    <div>
        <label for="lowTempWarn">Нижний тревожный предел температуры, C</label>
        <InputNumber id="lowTempWarn" @bind-Value="_config.LowerTemperatureWarningLimit" />
    </div>

    <div>
        <label for="uppHumWarn">Верхний тревожный предел абсолютной влажности, г/м^3</label>
        <InputNumber id="uppHumWarn" @bind-Value="_config.UpperHumidityWarningLimit" />
    </div>
    <div>
        <label for="lowHumWarn">Нижний тревожный предел абсолютной влажности, г/м^3</label>
        <InputNumber id="lowHumWarn" @bind-Value="_config.LowerHumidityWarningLimit" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Сохранить</button>
</EditForm>

@code {
    Config _config = new Config();

    string gg = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _config = await ConfigService.GetConfigAsync();
    }

    async Task HandleSubmit()
    {
        bool isUpdated = await ConfigService.UpdateConfigAsync(_config);

        if (isUpdated is false)
        {
            _config = await ConfigService.GetConfigAsync();
        }
    }
}