@page "/eventspage"
@using ClimateControlSystem.Client.Services.MicroclimateService
@inject IMicroclimateService MicroclimateService
@inject IConfigService ConfigService

<PageTitle>Events Page</PageTitle>

<h3>События</h3>

<AuthorizeView>
    <Authorized>
        @if (_monitoringEvents is null || _monitoringEvents.Count == 0)
        {
            <p><em>Загрузка...</em></p>
        }
        else
        {
            <p>События температуры</p>
            <table class="table">
                <thead>
                    <tr>
                        <th style="word-wrap:break-word; font-size:small">Статус</th>
                        <th style="word-wrap:break-word; font-size:small">Сообщение</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tempEvent in _monitoringEvents.Select(monEv => monEv.TemperatureValue).ToList())
                    {
                        <tr>
                            <td style="font-size:small"><span class="oi oi-warning ico" aria-hidden="true" style="color:red"></span></td>
                        </tr>
                    }
                </tbody>
            </table>       
            
            <p>События влажности</p>
            <table class="table">
                <thead>
                    <tr>
                        <th style="word-wrap:break-word; font-size:small">Статус</th>
                        <th style="word-wrap:break-word; font-size:small">Сообщение</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var humEvent in _monitoringEvents.Select(monEv => monEv.HumidityValue).ToList())
                    {
                        <tr>
                            <td style="font-size:small"><span class="oi oi-warning" aria-hidden="true" style="color:red"></span></td>
                       </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        Вы не вошли в систему
    </NotAuthorized>
</AuthorizeView>

@code {
    private const int RecordsCount = 20;
    private const int RecordsRequestBeginningIndex = 0;

    private ConfigsDto _config;

    private List<MonitoringsEventsDto> _monitoringEvents;

    protected override async Task OnInitializedAsync()
    {
        _config = await ConfigService.GetConfigAsync();

        _monitoringEvents = await MicroclimateService.GetMonitoringEventsAsync(RecordsRequestBeginningIndex, RecordsCount);
    }
}
