@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using ClimateControlSystem.Client.Resources
@inject NavigationManager NavigationManager
@inject IClimateService ClimateService
@implements IAsyncDisposable

<PageTitle>Monitoring Panel</PageTitle>

<h3>Панель мониторинга</h3>

<AuthorizeView>
    <Authorized>
        @if (_actualAndPredictedTemperature is null || _actualAndPredictedHumidity is null
        || _actualAndPredictedTemperature.Count == 0 || _actualAndPredictedHumidity.Count == 0)
        {
            <p><em>Загрузка...</em></p>
        }
        else
        {
            <Line @ref="_temperatureChart" Data="_actualAndPredictedTemperature" Config="_temperatureDataLineConfig"/>
            <Line @ref="_humidityChart" Data="_actualAndPredictedHumidity" Config="_humidityDataLineConfig"/>
        }
    </Authorized>
    <NotAuthorized>
        Вы не вошли в систему
    </NotAuthorized>
</AuthorizeView>

@code {
    private Line _temperatureChart;
    private Line _humidityChart;

    private LineConfig _temperatureDataLineConfig;
    private LineConfig _humidityDataLineConfig;

    private List<GraphicData> _actualAndPredictedTemperature;
    private List<GraphicData> _actualAndPredictedHumidity;

    private List<MonitoringData> _monitorings;

    private HubConnection? _hubConnection;

    [CascadingParameter]
    private Task<AuthenticationState> _authState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await _authState;

        if (authState.User.Identity.IsAuthenticated)
        {
            _monitorings = await ClimateService.GetClimateRecordsAsync(15);
            _monitorings.Capacity = 15;

            _actualAndPredictedTemperature = GetTemperatureData(_monitorings);
            _actualAndPredictedHumidity = GetHumidityData(_monitorings);

            _temperatureDataLineConfig = GetTemperatureLineConfig();
            _humidityDataLineConfig = GetHumidityLineConfig();

            await Connect();
        }
    }

    private async Task Connect()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/monitoringhub"))
            .WithAutomaticReconnect()
            .Build();

        _hubConnection.On<MonitoringData>("GetMonitoringData", (newData) => MonitoringDataArrived(newData));

        await _hubConnection.StartAsync();
    }

    private async Task MonitoringDataArrived(MonitoringData monitoringData)
    {
        if (_monitorings is null)
        {
            return;
        }

        if (_monitorings.Count == _monitorings.Capacity)
        {
            _monitorings.RemoveAt(0);
        }

        _monitorings.Add(monitoringData);

        _actualAndPredictedTemperature = GetTemperatureData(_monitorings);
        _actualAndPredictedHumidity = GetHumidityData(_monitorings);

        _temperatureDataLineConfig = GetTemperatureLineConfig();
        _humidityDataLineConfig = GetHumidityLineConfig();

        await _temperatureChart.UpdateChart(csData: _actualAndPredictedTemperature, csConfig: _temperatureDataLineConfig);
        await _humidityChart.UpdateChart(csData: _actualAndPredictedHumidity, csConfig: _humidityDataLineConfig);

        await _temperatureChart.Render();
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection != null)
        {
            await _hubConnection.DisposeAsync();
        }
    }

    private List<GraphicData> GetTemperatureData(List<MonitoringData> monitorings)
    {
        List<GraphicData> temperatureData = new List<GraphicData>();

        for (int i = 0; i < monitorings.Count; i++)
        {
            temperatureData.Add(new GraphicData(monitorings[i].MeasurementTime.ToString("HH:mm:ss dd:MM:yyyy"),
                monitorings[i].PredictedTemperature, "Predicted"));
            temperatureData.Add(new GraphicData(monitorings[i].MeasurementTime.ToString("HH:mm:ss dd:MM:yyyy"),
                24f, "Limit"));

            if (i > 0)
            {
                temperatureData.Add(new GraphicData(monitorings[i - 1].MeasurementTime.ToString("HH:mm:ss dd:MM:yyyy"),
                    monitorings[i - 1].PreviousTemperature, "Measured"));
            }
        }

        return temperatureData;
    }

    private List<GraphicData> GetHumidityData(List<MonitoringData> monitorings)
    {
        List<GraphicData> humidityData = new List<GraphicData>();

        for (int i = 0; i < monitorings.Count; i++)
        {
            humidityData.Add(new GraphicData(monitorings[i].MeasurementTime.ToString("HH:mm:ss dd:MM:yyyy"),
                monitorings[i].PredictedHumidity, "Predicted"));
            humidityData.Add(new GraphicData(monitorings[i].MeasurementTime.ToString("HH:mm:ss dd:MM:yyyy"),
                21f, "Limit"));

            if (i > 0)
            {
                humidityData.Add(new GraphicData(monitorings[i - 1].MeasurementTime.ToString("HH:mm:ss dd:MM:yyyy"),
                    monitorings[i - 1].PreviousHumidity, "Measured"));
            }
        }

        return humidityData;
    }

    private LineConfig GetTemperatureLineConfig()
    {
        var config = GetBaseLineConfig();

        config.Title.Text = "Действительная и спрогнозированная температуры";
        config.YAxis.Title.Text = "Градусы °C";
        var min = _actualAndPredictedTemperature.Min(item => item.value);
        var max = _actualAndPredictedTemperature.Max(item => item.value);
        var delta = max - min;
        config.YAxis.Max = max + delta / 10;
        config.YAxis.Min = min - delta / 10;

        return config;
    }

    private LineConfig GetHumidityLineConfig()
    {
        var config = GetBaseLineConfig();

        config.Title.Text = "Действительная и спрогнозированная влажности";
        config.YAxis.Title.Text = "Показатели влажности %";
        var min = _actualAndPredictedHumidity.Min(item => item.value);
        var max = _actualAndPredictedHumidity.Max(item => item.value);
        var delta = max - min;
        config.YAxis.Max = max + delta / 10;
        config.YAxis.Min = min - delta / 10;
        config.Point.Shape = "circle";

        return config;
    }

    private LineConfig GetBaseLineConfig()
    {
        return new LineConfig()
        {
            Title = new Title()
            {
                Visible = true,
                Style = new TextStyle()
                {
                    Fill = "#000",
                    FontSize = 20
                }
            },
            Padding = "auto",
            ForceFit = true,
            XField = "time",
            YField = "value",
            SeriesField = "type",
            Point = new LineViewConfigPoint()
            {
                Style = new GraphicStyle() { LineWidth = 3, FillOpacity = 5 },
                Size = 7,
                Visible = true,
                Shape = "diamond"
            },
            LineStyle = new LineStyle()
            {
                LineWidth = 5
            },
            Legend = new Legend()
            {
                Position = "top-right",
                Text = new LegendText()
                {
                    Style = new TextStyle()
                    {
                        Fill = "#000",
                        FontSize = 20
                    }
                }
            },
            XAxis = new ValueCatTimeAxis()
            {
                Title = new BaseAxisTitle()
                {
                    Text = "Время",
                    Style = new TextStyle()
                    {
                        FontSize = 16
                    },
                    Visible = true
                },
                Visible = true,
                TickLine = new BaseAxisTickLine()
                {
                    Visible = true,
                    Style = new LineStyle()
                    {
                        LineWidth = 2,
                        Stroke = "#aaa"
                    },
                },
                Line = new BaseAxisLine()
                {
                    Visible = true,
                    Style = new LineStyle()
                    {
                        Stroke = "#aaa"
                    }
                },
                Grid = new BaseAxisGrid()
                {
                    Visible = true,
                    Line = new BaseAxisGridLine()
                    {
                        Type = "",
                        Style = new LineStyle()
                        {
                            Stroke = "#ddd",
                            LineDash = new int[] { 4, 2 }
                        }
                    }
                }
            },
            YAxis = new ValueAxis()
            {
                Title = new BaseAxisTitle()
                {
                    Style = new TextStyle()
                    {
                        FontSize = 16,
                    },
                    AutoRotate = true,
                    Visible = true
                },
                Visible = true
            },
        };
    }

}
