@page "/"
@    using Microsoft.AspNetCore.SignalR.Client
@    using ClimateControlSystem.Client.Resources
@    using System.Text;
    using ClimateControlSystem.Shared.Responses;
@inject NavigationManager NavigationManager
@inject IMicroclimateService MicroclimateService
@inject IConfigService ConfigService
@implements IAsyncDisposable
@inject IJSRuntime JsRuntime

<PageTitle>Monitoring Page</PageTitle>

<h3>Панель мониторинга</h3>

<AuthorizeView>
    <Authorized>
        @if (_temperatureRenderableSeries is null || _humidityRenderableSeries is null
        || _temperatureRenderableSeries.Count == 0 || _humidityRenderableSeries.Count == 0)
        {
            <p><em>Загрузка...</em></p>
        }
        else
        {
            <Line @ref="_temperatureChart" Data="_temperatureRenderableSeries" Config="_temperatureDataLineConfig"/>
            <Line @ref="_humidityChart" Data="_humidityRenderableSeries" Config="_humidityDataLineConfig"/>
        }
    </Authorized>
    <NotAuthorized>
        Вы не вошли в систему
    </NotAuthorized>
</AuthorizeView>

@code {
    private ConfigsDTO _config;

    private const int _recordsCount = 15;
    private const int _recordsRequestBeginningIndex = 0;

    private Line _temperatureChart;
    private Line _humidityChart;

    private LineConfig _temperatureDataLineConfig;
    private LineConfig _humidityDataLineConfig;

    private List<GraphicData> _temperatureRenderableSeries;
    private List<GraphicData> _humidityRenderableSeries;

    private List<BaseMonitoringDTO> _monitorings;

    private HubConnection? _monitoringConnection;

    [CascadingParameter]
    private Task<AuthenticationState> _authState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await _authState;

        if (authState.User.Identity.IsAuthenticated)
        {
            _config = await ConfigService.GetConfigAsync();
            _monitorings = (await MicroclimateService.GetBaseMonitoringsAsync(_recordsRequestBeginningIndex, _recordsCount))
            .ToList();
            _monitorings.Capacity = _recordsCount;

            UpdateRenderableSeries();
            UpdateChartsConfigs();

            await CreateMonitoringConnection();
        }
    }

    private async Task CreateMonitoringConnection()
    {
        _monitoringConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/monitoringhub"))
            .WithAutomaticReconnect()
            .Build();

        _monitoringConnection.On<MonitoringWithEventsDTO>("GetMonitoringResponse", (newData) => MonitoringDataArrived(newData));

        await _monitoringConnection.StartAsync();
    }

    private async Task MonitoringDataArrived(MonitoringWithEventsDTO arrivedMonitoring)
    {
        try
        {
            if (arrivedMonitoring is MonitoringWithEventsDTO eventMonitroing)
            {
                _ = Task.Run(() => MicroclimateEventArrived(eventMonitroing));
            }

            AddNewMonitoring((BaseMonitoringDTO)arrivedMonitoring);

            await UpdateCharts();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

    private void AddNewMonitoring(BaseMonitoringDTO monitoring)
    {
        if (_monitorings is null)
        {
            return;
        }

        if (_monitorings.Any())
        {
            var lastMonitoring = _monitorings.Last();
            lastMonitoring.ActualData = monitoring.ActualData;
            lastMonitoring.TracedTime = monitoring.TracedTime;
        }
        else
        {
            _monitorings.Add(monitoring.CloneWithMeasuredAndTime());
        }

        _monitorings.Add(monitoring.CloneWithPrediction());

        RemoveExtraMonitroingElementsFromBeginning();
    }

    private async Task MicroclimateEventArrived(MonitoringWithEventsDTO monitoring)
    {
        try
        {
            if (monitoring.MicroclimatesEvents is null)
            {
                return;
            }

            StringBuilder messageBuilder = new StringBuilder();

            if (monitoring.MicroclimatesEvents.TemperatureValue is not null)
            {
                messageBuilder.Append(
                    GetAlertMessage(
                        monitoring.MicroclimatesEvents.TemperatureValue.Value,
                        monitoring.TracedTime, "температуры"));
            }

            if (monitoring.MicroclimatesEvents.HumidityValue is not null)
            {
                messageBuilder.Append(
                    GetAlertMessage(
                        monitoring.MicroclimatesEvents.HumidityValue.Value,
                        monitoring.TracedTime, "влажности"));
            }

            string alertMessage = messageBuilder.ToString();

            if (string.IsNullOrEmpty(alertMessage) is false)
            {
                await JsRuntime.InvokeVoidAsync("Alert", alertMessage);
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

    private string GetAlertMessage(float value, DateTimeOffset? eventTime, string format)
    {
        var alertMessageBuilder = new StringBuilder();

        DateTimeOffset time = eventTime.HasValue ? eventTime.Value : DateTimeOffset.Now;

        if (value > 0)
        {
            alertMessageBuilder.Append($"{time.ToString("HH:mm:ss dd.MM.yyyy")}: Ожидается превышение {format} выше допустимого предела!");
        }
        else if (value < 0)
        {
            alertMessageBuilder.AppendLine($"{time.ToString("HH:mm:ss dd.MM.yyyy")}: Ожидается понижение температуры ниже допустимого предела!");
        }

        return alertMessageBuilder.ToString();
    }

    private void RemoveExtraMonitroingElementsFromBeginning()
    {
        while (_monitorings.Count >= _monitorings.Capacity)
        {
            _monitorings.RemoveAt(0);
        }
    }

    private async Task UpdateCharts()
    {
        UpdateRenderableSeries();
        UpdateChartsConfigs();
        await RerenderCharts();
    }

    private void UpdateRenderableSeries()
    {
        _temperatureRenderableSeries = AntChartHelper.GetTemperatureData(_monitorings, _config);
        _humidityRenderableSeries = AntChartHelper.GetHumidityData(_monitorings, _config);
    }

    private void UpdateChartsConfigs()
    {
        if (_temperatureRenderableSeries.Any())
        {
            _temperatureDataLineConfig = AntChartHelper.GetTemperatureLineConfig(_temperatureRenderableSeries);
        }
        if (_humidityRenderableSeries.Any())
        {
            _humidityDataLineConfig = AntChartHelper.GetHumidityLineConfig(_humidityRenderableSeries);
        }
    }

    private async Task RerenderCharts()
    {
        await _temperatureChart.ChangeData(_temperatureRenderableSeries);
        await _humidityChart.ChangeData(_humidityRenderableSeries);
    }

    public async ValueTask DisposeAsync()
    {
        if (_monitoringConnection is not null)
        {
            await _monitoringConnection.DisposeAsync();
        }
    }

}
