@page "/users"
@inject NavigationManager NavigationManager
@inject IUsersService UsersService
@attribute [Authorize(Roles = "Admin")]

<h3>Данные о пользователях</h3>

<AuthorizeView>
    <Authorized>
        <table class="table">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Роль</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in UsersService.Users)
                    {
                        <tr>
                            <td>@user.Name</td>
                            <td>@user.Role</td>
                            <td>
                                <button class="btn btn-primary" @onclick="(() => ShowUser(user.Id))"><i class="oi oi-pencil"></i></button>
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
        <button class="btn btn-primary" @onclick="(() => CreateUser())">Создать нового пользователя</button>
    </Authorized>
    <NotAuthorized>
        Вы не вошли в систему
    </NotAuthorized>
</AuthorizeView>

@code {

    protected override async Task OnInitializedAsync()
    {
        await UsersService.GetUsers();
    }

    void ShowUser(int id)
    {
        NavigationManager.NavigateTo($"/user/{id}");
    }

    void CreateUser()
    {
        NavigationManager.NavigateTo("/user");
    }
}
